.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url('../images/header/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 258px;

  &__navigation {
    margin-bottom: 246px;
  }

  &__title {
    @include font(48px, 600, 1.2);
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 14px;
  }

  &__description {
    @include font(20px, 400, 24px, $secondary-font);
    text-align: center;
    margin-bottom: 52px;
  }

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url('../images/header/bg@2x.jpg');
  }
}

.logotype {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  letter-spacing: -0.6px;
  animation-name: swing;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.navigation {
  @extend %align-between;
  align-items: center;
}

.menu-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 34px;
  }

  &__link {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.35px;
    position: relative;

    &:hover::after {
      width: 100%;
    }

    &::after {
      display: block;
      width: 0%;
      content: '';
      height: 2px;
      bottom: -10px;
      background-color: rgb(192, 48, 28);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      /* opacity: 0;
      visibility: hidden; */
      transition: width 0.5s linear;
    }
  }
}

.modal-btn {
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 2px;
  width: 180px;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

// @media (min-width: 768px) {
//   .header {
//     &__title {
//       @include font($fs: 50px, $lh: 1.1);
//     }
//   }
// }
