.services__list {
  @extend %align-between;

  &-item {
    width: 346px;
    text-align: center;

    &-title {
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 18px;
    }

    &-description {
      font-family: $secondary-font;
      font-size: 14px;
      line-height: 24px;
    }

    &:hover {
      .services__list-icon-wrapper {
        background-color: rgb(192, 48, 28);
      }

      .services__list-icon {
        fill: #ffffff;
      }
    }
  }

  &-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-radius: 50%;
    width: 86px;
    height: 86px;
    margin: 0 auto;
    margin-bottom: 24px;
    transition: all 0.3s linear;
  }

  &-icon {
    fill: rgb(192, 48, 28);
    transition: all 0.3s linear;

    &_font {
      width: 43px;
      height: 40px;
    }

    &_code {
      width: 53px;
      height: 40px;
    }

    &_support {
      width: 48px;
      height: 49px;
    }
  }
}
